@charset 'utf-8';

// 컬러 설정
$parket_main_500: #14C6A4;
$parket_main_400: #39D5B8;
$parket_main_300: #69DFC9;
$parket_main_200: #88EADA;
$parket_main_100: #B6EBE2;
$parket_sub: #C4F2E8;
$gray1: #EFEFEF;
$gray2 :#D9D9D9;

@import "paymentTab";
